**1-Write a Python program to calculate the length of a string using 2 ways

In [2]:
word1=input("please enter a word")
print(len(word1))

please enter a worddsgdfsgf
8

In [4]:
word2=input("please enter a word")
count=0
for i in word2:
    count+=1
print(count)

please enter a wordmohamed
7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [7]:
name=input("please enter a name")
namelength=len(name)
if(namelength<2):
    print("")
else:
    new_name=name[0:2]+name[-2:]
    print(new_name)

please enter a namewe
wewe

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [12]:
word=input("Please Enter Word  ")
word_length=len(word)
if word_length<3:
    print(word)
else:
    if word[-3:] == "ing":
        print(word+"ly")
    else:
        print(word+"ing")

Please Enter Word  noingly
noinglying

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [24]:
words=["Ali","ALaa","Eshoo","Elbait","beiolaa"]
def the_bigest_word(words):
    maxlength=0
    for i in words:
        length=int (len(i))
        if length>maxlength:
            maxlength=length
    print (maxlength)
    print(i)
the_bigest_word(words)

7
beiolaa

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [26]:
word=input()
new_word=word[-1]+word[1:-1]+word[0]
print(new_word)

wertyoui
iertyouw

In [27]:
word=input()
first_letter = word[0]
last_letter  = word[-1]
print(last_letter+word[1:-1]+first_letter)

rabono
oabonr

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [6]:
word=input()
new_word=''
for i in range(0,len(word),2):
    new_word+=word[i]
print(new_word)

abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [13]:
word="hello my name is meme i have a cat my cat its name is toto toto go to nnamw"
word_list=word.split()


for i in word_list:
    print(i,word.count(i))

hello 1
my 2
name 2
is 2
meme 1
i 4
have 1
a 7
cat 2
my 2
cat 2
its 1
name 2
is 2
toto 2
toto 2
go 1
to 5
nnamw 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [16]:
word=input()
print(word.upper())
print(word.lower())

fhkdjssbvfdkljdsf;lkdl
FHKDJSSBVFDKLJDSF;LKDL
fhkdjssbvfdkljdsf;lkdl

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [10]:
word=input("please enter your words")
length_of_word=len(word)
reversed_word=""

if (length_of_word % 4 == 0):
    i=length_of_word-1
    
    while i>=0:
        reversed_word= reversed_word + word[i]
        i=i-1
        
print(reversed_word)

please enter your wordswert
trew

**10- Write a Python program to remove a newline in Python

In [19]:
line=''' mo 
salah 
mo
salah

'''
print(line.replace("\n",""))

 mo salah mosalah

**11-Write a Python program to check whether a string starts with specified characters

In [20]:
string=input(" Enter Your String ")
specific_char="M"
if string[0]==specific_char:
    print("yes")
else:
    print("no")

 Enter Your String Mohamed
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [21]:
name='''Ahmed Rashad
Mohamed Ashraf 
Adham Mosa'''
prefix="Eng/ "
lines=name.splitlines()
for line in lines:
    print(prefix,line)

Eng/  Ahmed Rashad
Eng/  Mohamed Ashraf
Eng/  Adham Mosa

**13-Write a Python program to print the following numbers up to 2 decimal places

In [24]:
number=float(input("enter the number "))

round(number,2)

enter the number 2.333

2.33

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

In [1]:
number = input("please enter the number")
number.replace(".",",")

please enter the number2.44

'2,44'

**16-Write a Python program to reverse a string using 2 ways

In [2]:
string=input(" enter the string ")
print(string[::-1])

 enter the string wert
trew

In [3]:
word=input("please enter your words")
length_of_word=len(word)
reversed_word=""


i=length_of_word-1
    
while i>=0:
    reversed_word= reversed_word + word[i]
    i=i-1
        
print(reversed_word)

please enter your wordswert
trew

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [10]:
name=input("enter name  ")
keys=[]
char_dic=dict()
for i in name:
    keys.append(i)
for i in keys:
    char_dic[i] = name.count(i)
char_dic

enter name  mohamed ashraf ahmed

{'m': 3,
 'o': 1,
 'h': 3,
 'a': 4,
 'e': 2,
 'd': 2,
 ' ': 2,
 's': 1,
 'r': 1,
 'f': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [13]:
name=input("enter the name")
for i in name:
    if name.count(i)==1:
        print (i)
        break

enter the namemohamed
o

**19-Write a Python program to remove spaces from a given string

In [14]:
name=input ("enter the name")
name.replace(" ","")

enter the namemohamed Ashraf

'mohamedAshraf'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [19]:
name = input("enter your name sir")
names=name.split(" ")
len(names)

enter your name sirMohamed Ashraf Ahmed Ebrahim

['Mohamed', 'Ashraf', 'Ahmed', 'Ebrahim']

**21-write a Python program to swap first and last element of any list.

In [21]:
any_list=['Mohamed', 'Ashraf', 'Ahmed', 'Ebrahim']
temp=any_list[-1]
any_list[-1]=any_list[0]
any_list[0]=temp
any_list

['Ebrahim', 'Ashraf', 'Ahmed', 'Mohamed']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [22]:
List = [23, 65, 19, 90]
temp=List[2]
List[2]=List[0]
List[0]=temp
List

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [24]:
List = [23, 65, 19, 90]
List.sort()
List
List[-1]

90

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [25]:
List = [23, 65, 19, 90]
List.sort()
List
List[0]

19

**26-search for if an elem is existing in list

**27- clear python list using different ways

In [26]:
List = [23, 65, 19, 90]
List.clear()
List

[]

In [37]:
List = [23, 65, 19, 90]
i=0
while len(List) != 0:
    List.pop(i)
List

[]

**28-remove duplicated elements from a list

In [5]:
List = [23, 65, 19, 9023, 65, 19, 9023, 65, 19, 9023, 65, 19, 11111]
List=set(List)
List

{19, 23, 65, 9023, 11111}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [20]:
keys=["name","age","id"]
values=["Mohamed",21,202000728]
person=dict()
for key ,value in zip(keys,values):
    person[key]=value
        

person

{'name': 'Mohamed', 'age': 21, 'id': 202000728}

**30-write a python program to count unique values inside a list using different ways

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [6]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
new_list=[]
k=3
for i in test_list:
    if test_list.count(i)>=k:
        new_list.append(i)

        
new_list=set(new_list) 
new_list=list(new_list)
new_list

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [21]:
List=[1 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1]
removed_element =1
i=0
while i<len(List):
    List.remove(removed_element)
    i+=1
List

ValueError: list.remove(x): x not in list

 **37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [22]:
List1=["Gfg", "is", "best"]
List2= [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
List3=[]
for i in List2:
    List3.append(List1[i])
    
List3

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [6]:
dictionary={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

dictionary=dict( sorted ( dictionary . items () ) )
dictionary

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}

dic4.update(dic1)
dic4.update(dic2)
dic4.update(dic3)
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [15]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}

dic4={k:v for k,v in dic1.items() | dic2.items() | dic3.items()}

print(dic4)

{3: 30, 5: 50, 6: 60, 2: 20, 4: 40, 1: 10}

**43-Write a Python program to iterate over dictionaries using for loops

In [19]:
dic={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
for item,value in dic.items():
    print(item,value)

ravi 10
rajnish 9
sanjeev 15
yash 2
suraj 32

**44- Write a Python script to merge two Python dictionaries

In [25]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40}
dic3={}
dic3.update (dic1)
dic3.update (dic2)
dic3

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [30]:
dic={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
List=list (dic.values())
List.sort()
print (List[-1])
print (List[0])

60
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [44]:
Original_Dictionary={'c1': 'Red', 'c2': 'Green', 'c3':""}

new_dictionary={k:v for k,v in Original_Dictionary.items() if v }
new_dictionary

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [4]:
size=int(input("enter the size of tuple"))
List=[]
for i in range(0,size):
    item=int(input("enter numbers "))
    List.append(item)

myTuple=tuple(List)
print(myTuple)
index=int (input("enter the item you want"))
print(myTuple[index-1])

enter the size of tuple5
enter numbers 11
enter numbers 22
enter numbers 33
enter numbers 44
enter numbers 55
(11, 22, 33, 44, 55)
enter the item you want1
11

**48-Write a Python program to unpack a tuple into several variables

In [5]:
mytuple=(11,22,33,44)
item1,item2,item3,item4=mytuple
print(item1,item2,item3,item4)

11 22 33 44

**49-Write a Python program to add an item to a tuple

In [2]:
mytuple=(11,22,33,44)
print("this is your tuple  ")
print(mytuple)
mytuple=list(mytuple)
item=int(input("enter the item you want to add in tuple"))
mytuple.append(item)
mytuple=tuple(mytuple)
print(mytuple)

this is your tuple
(11, 22, 33, 44)
enter the item you want to add in tuple100
(11, 22, 33, 44, 100)

**50-Write a Python program to convert a tuple to a string

In [4]:
mytuple=('11','22','33','44')
mystring="".join(mytuple)
mystring

'11223344'

**51-Write a Python program to convert a list to a tuple

In [5]:
List=[1 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1]
mytuple=tuple(List)
mytuple

(1, 1, 2, 3, 4, 5, 1, 2, 1)

**52-Write a Python program to reverse a tuple

In [8]:
mytuple=(11,22,33,44)
mylist=list(mytuple)
mylist.reverse()
mytuple=tuple(mylist)
mytuple

(44, 33, 22, 11)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [12]:
List= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
item=int(input("enter the item "))
length_tuple=len(List[0])
for i in range(0,len(List)):
    List.remove()
    List[i][length_tuple-1]=item

List

enter the item 100

TypeError: 'tuple' object does not support item assignment

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [17]:
myst="python 3.0"
mylist=[]
for i in myst:
    mylist.append(i)
mttuple=tuple(mylist)
mttuple

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [21]:
mytuple=(11,22,33,44)
Sum=0
for i in mytuple:
    Sum+=i
avarage=Sum/len(mytuple)  
avarage

27.5

**56-Write a Python program to add member(s) to a set.

In [26]:
number_members=int (input("Enter number of members you want to add"))
members=set()
for i in range(0,number_members):
    member_name=input("Please Enter The Member Name")
    members.add(member_name)
members

Enter number of members you want to add4
Please Enter The Member Nameali
Please Enter The Member Namealaa
Please Enter The Member Namemohamed
Please Enter The Member Nameahmed

{'ahmed', 'alaa', 'ali', 'mohamed'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [29]:
myset={'ahmed', 'alaa', 'ali', 'mohamed'}
item_want_to_remove=input("please enter the item you want to remove")
if item_want_to_remove  in myset:
    myset.discard(item_want_to_remove)
myset

please enter the item you want to removeali

{'ahmed', 'alaa', 'mohamed'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [32]:
myset1={'ahmed', 'alaa', 'ali', 'mohamed'}
myset2={'ashraf', 'alaa', 'ali', 'mohamoud'}
myset3=myset1.intersection(myset2)
myset4=myset1.union(myset2)
myset5=myset1.difference(myset2)
myset6=myset1.symmetric_difference(myset2)
print (myset3)
print (myset4)
print (myset5)
print (myset6)

{'alaa', 'ali'}
{'ali', 'mohamoud', 'alaa', 'ashraf', 'mohamed', 'ahmed'}
{'mohamed', 'ahmed'}
{'mohamoud', 'ashraf', 'mohamed', 'ahmed'}

**59-Write a Python program to find the maximum and minimum values in a set

In [26]:
our_set={33,4,1,0,99,1200,1510}
List =list(our_set)
List.sort()
print(List[-1])
print (List[0])

1510
0

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.